<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style1.css')}}">
    <title>Start</title>
</head>
<body class="bg-nav">
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#"><b>WELCOME</b></a></li>
            </ul>
        </div>
        <div class="content">
            <br><h1>Driver Drowsiness Detection System</h1>
            <h2>Keep calm and drive safely !!!</h2>
        </div>
    </div>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <section class="section section-dark">
        <div class="text-effect">
              <h1 class = "neon text-style">STAT ALERT!!</h1><br> 
        </div>
        <ul class="timeline">
                <!-- Item 1 -->
                    <li>
                        <div id="div1" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">100,000</span>
                                
                            </div>
                            <div class="desc">The US National Highway Traffic Safety Administration has estimated that worldwide every year, about 100,000 road accidents are caused by drowsiness, accounting for > 1,500 deaths and > 70,000 injuries.</div>
                        </div>
                    </li>
                  
                    <!-- Item 2 -->
                    <li>
                        <div id="div2" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">72</span>
                            </div>
                            <div class="desc">According to the latest WHO data published in 2020 Road Traffic Accidents Deaths in Nepal reached 4,654 or 2.90% of total deaths. The age adjusted Death Rate is 20.65 per 100,000 of population ranks Nepal #72 in the world.</div>
                        </div>
                    </li>
    
                    <!-- Item 3 -->
                    <li>
                        <div id="div3" class="direction-r r-div">
                            <div class="flag-wrapper">
                                <span class="flag">5,961</span>	
                            </div>
                            <div class="desc">According to the information shared by the Metropolitan Traffic Police Division, in more than 90 percent road accidents, drivers' carelessness was blamed. In the last fiscal year (2074/75), the Division recorded a total of 6,381 accidents. Among these, drivers were culpable for 5,961 accidents.</div>
                        </div>
                    </li>
    
                    <!-- Item 4 -->
                    <li>
                        <div id="div1" class="direction-l l-div">
                            <div class="flag-wrapper">
                                <span class="flag">72%</span>
                            </div>
                            <div class="desc">72% Percentage of Road Crash Fatalities and Injuries in the economically productive age groups (15 - 64 years.)</div>
                        </div>
                    </li>
                    
                    <div style="padding: 20px;">
                        <a href="{{url_for('login')}}" class="button mx-auto" type="submit">Start</a>
                    </div>
                </ul>
                
          
          
      </section>
      
      </div>
</body>
</html>